

.categories{
    width: 20%;
    border-right: 1px solid rgba(31, 31, 31, .1);
    display: flex;
    flex-direction: column;
    padding: 15px 30px 15px 0;
    box-sizing: border-box;
}

.categories h3{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.categories a{
    font-size: 19px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    transition: .3s;
}

.categories a:hover{
    border-bottom: 2px solid #f50;
}

.main-content{
    width: 75%;
    padding: 15px 30px;
    box-sizing: border-box;
}

.main-content h3{
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 50px;
}

.main-card{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(31, 31, 31, .1);
    padding: 20px;
    border-radius: 15px;
}

.main-card:hover{
    background-color: #f7f7f7;
    transition: .3s;
}

.card-left{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.film-img{
    width: 20%;
}

.film-img img{
    width: 100%;
}

.film-info{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.film-info a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.film-info a:first-child{
    font-size: 18px;
    font-weight: 600;
}

.film-info .film-btn{
    color: #fff;
    background: linear-gradient(90deg, #ff5c4d, #eb469f 26.56%, #8341ef 75%, #3f68f9);
}

.film-btn{
    padding: 7px 25px;
    display: flex;
    align-items: center;
    border: none;
    gap: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.film-btn:hover{
    transform: scale(1.05);
    transition: .3s;
}

.film-btn img{
    width: 20%;
}

.card-right{
    width: 35%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.film-rate p{
    font-size: 18px;
    color: #3bb33b;
}

.film-rate{
    width: 15%;
    padding-top: 15px;
}

.card-right .film-btn{
    width: 65%;
    font-weight: 600;
}