.comments h3{
    font-size: 20px;
    font-weight: 700;
}

.comments {
    margin-top: 30px;
}

.comment-stars {
    display: flex;
    gap: 10px;
}

.comment-stars img{
    width: 30px;
    filter: grayscale(100%);
}

.add-comment-form{
    margin-top: 20px;
}

.add-comment-form textarea{
    width: 100%;
    resize: none;
    height: 100px;
    margin-top: 10px;
}

.add-comment-form button{
    width: 20%;
    padding: 10px 5px;
    border: none;
    background: linear-gradient(90deg, #ff5c4d, #eb469f 26.56%, #8341ef 75%, #3f68f9);
    border-radius: 7px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: 20px;
}

.add-comment-form p{
    margin: 10px 0;
}

.comments>p {
    margin-top: 20px;
}

.active-star{
    filter: grayscale(0%) !important;
}

.comment{
    margin: 20px 0;
    border: 1px solid #00000039;
    border-radius: 10px;
    padding: 15px;
}

.comment a{
    text-decoration: none;
}

.comment p{
    margin: 15px 0;
}